@font-face{
    font-family: Interstellar Trip;
    src: url("InterstellarTrip-w1M1x.ttf");}
@font-face{
    font-family: xenosphere;
    src: url('Xenosphere-WXgv.ttf');}
@font-face{
    font-family: Space Games;
    src: url('SpaceGames-K7zKD.otf');}

body {
    padding: 0;
    margin: 0;
    background-image: url(IMG_2181.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: inherit
}