<!DOCTYPE html>
<html>
    <head>
        <title>Kepler 1222B</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='planets.css') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="width: 100%; height: 100%; position: fixed; z-index: 10;">
            <div style="width: 100%; height: 113px; left: 0px; top: 0px; position: fixed; background: #0D1B2A"></div>
            <div style="width: 710px; height: 77px; left: 32px; top: 18px; position: fixed; color: #415A77; font-size: 64px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word"><a href="/">Outplanet</a></div>
            <div style="width: 385px; height: 47px; left: 1200px; top: 9px; position: fixed; color: #415A77; font-size: 36px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word"></body><a href="/about">About Exoplanets</a></div>
            <div style="width: 115px; height: 47px; left: 996px; top: 32px; position: absolute; color: #415A77; font-size: 36px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word"><a href="/">Home</a></div>
        </div>
        <div style="width: 100%; height: 100%; position: relative; top: 120px; left: 14px">
            <div style="width: 1407px; height: 126px; left: 0px; top: 0px; position: absolute; color: #E0E1DD; font-size: 96px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word">Kepler 1222B</div>
            <div style="width: 894px; height: 356px; left: 482px; top: 166px; position: absolute; color: #E0E1DD; font-size: 40px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word">Planet Type: Terrestrial<br/><br/>Discovered through Transit method<br/>in 2016<br/><br/>Orbiting Kepler 1222:<br/>K type main sequence star</div>
            <div style="width: 517px; height: 121px; left: 66px; top: 577px; position: absolute; color: #E0E1DD; font-size: 40px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word">Radius = 5.04x10^6m<br/>Mass = 2.496x10^24kg<br/></div>
            <div style="width: 375px; height: 108px; left: 107px; top: 729px; position: absolute; color: #E0E1DD; font-size: 40px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word">Orbital Radius: <br/>        0.0282AU</div>
            <div style="width: 407px; height: 165px; left: 825px; top: 672px; position: absolute; color: #E0E1DD; font-size: 40px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word"><br/>Orbital Period:   <br/>           1.9 days<br/></div>
            <div style="width: 487px; height: 109px; left: 745px; top: 589px; position: absolute; color: #E0E1DD; font-size: 40px; font-family: Interstellar Trip; font-weight: 400; word-wrap: break-word">Force of gravity =<br/>               6.56ms-2<br/></div>
            <img style="width: 410px; height: 425px; left: 36px; top: 121px; position: absolute; border-radius: 205px" src="{{ url_for('static', filename='kepler.png') }}" />
        </div>
    </body>